<main>
    <section class="greyBck">
        <div class="whiteBox projectCon">
            <div class="ProjContainer">
            <h3>projects</h3>
            <div class="layoutLine projLine"></div>

            <div class="projects">
                {{#each project}}
                <a href="project/{{ID}}" class="p-link">
                <img id="project{{ID}}" src="images/{{Image}}" class="p-img" alt="image for project {{Name}}">
                </a>
                {{/each}}
            </div>
        
                <div class="ProjectVideo">
                    <h3>Past Works: Demo Reel</h3>
                    <div class="layoutLine videoLine"></div>
                    <div class="VideoUnderline"></div>
                   <div class="video"><iframe src="https://www.youtube.com/embed/NIV51QK_e5M" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                   <p>This demo reel shows the user my past work with motion design.</p>
                </div>
            </div>
            
            
            <div class="lightbox">
        <span class="close">x</span>

        <div class="lb-content">
            <div class="images"></div>
            <h3>{{Name}}</h3>
            <div class="ProjectsUnderline"></div>
            <div class="paraContent1"></div>
            <div>
                <h3>Tools</h3>
                <div class="content1"></div>
                <div class="content2"></div>
            </div>
        </div>
    </div>

        </div>
    </section>
</main>